# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods / Carthage (not used, but ignore if introduced)
Pods/
Carthage/Build/
